@font-face {
  font-family: "yg-jalnan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
font-family: 'BMJUA';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
  font-family: 'UhBeeSeulvely';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeSeulvely.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  }
  @font-face {
    font-family: 'KyoboHand';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html {
  overflow-x: hidden;
}

body {
background-color:#E0E3DA;
overflow-x: hidden;
}

.title {
z-index: 2;
position: fixed;
height: 70.3281px;
width: 99.9999999999999999%;
top: 0;
right: 0;
left: 0;

line-height: 65px;
vertical-align: middle;
text-align: center;

background-color: #FFFFF3;

box-shadow:5px 5px 3px 2px grey;
}

.title_text {
color: #566270;
font-family: "yg-jalnan";
font-size: 25px;
text-decoration: none;
}

.menu {
  position: relative;
  color: #566270;
  font-family: "yg-jalnan";
  text-decoration: none;
  left: 13%;
}


.기본 {

position: relative;
border-radius: 20px;

color: #FFFFF3;
font-family: "BMJUA";
font-size: 20px;

padding-top: 10px;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 10px;

width: 70%;
margin: 0 auto;
background-color: #566270;
}

.알림장 {
  background-color: #346b31;
  font-family: "KyoboHand";
}

.up {
  z-index: 2;
  position: fixed;
  right:10%;
  bottom: 10%;
  height: 30px;
  width: 30px;

}

.go_to_rule {
  z-index: 2;
  position: fixed;
  right:10%;
  bottom: 17%;
  height: 30px;
  width: 30px;

}
